# Unit 1. 파이썬 기초

## 1. 파이썬 시작하기

### 1) 파이썬이란?

- 파이썬(Python)은 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 프로그래밍 언어
- 인터프리터 언어 :  고급 언어로 작성된 원시코드 명령어들을 한번에 한 줄씩 읽어들여서 실행
- 멀티 패러다임 : 절차지향, 객체지향, 함수형 패러다임
- 다양한 라이브러리 : https://docs.python.org

### 2) 파이썬 설치하기

- 파이썬 다운로드 : www.python.org
- 아나콘다 다운로드 : www.anaconda.com

### 3) 에디터 설치하기

- 비주얼 스튜디오 코드 : code.visualstudio.com
- 주피터 노트북 : pip install jupyter
- 파이참

## 2. 파이썬 기본 프로그램

### 1) 대화형 모드(Interactive Mode)

- REPL : Read Eval Print Loop

In [3]:
'Hello World!'

'Hello World!'

### 2) 파이썬 파일 실행

- .py file 실행 : python first.py

In [4]:
print('Hello World!')

Hello World!

## 3. 산술 연산자

### 1) 덧셈

In [5]:
31+26

57

### 2) 뺄셈

In [6]:
511-54

457

### 3) 곱셈

In [7]:
5*15

75

### 4) 나눗셈

In [8]:
96/4

24.0

### 5) 몫

In [9]:
7//3

2

### 6) 나머지

In [10]:
26%2

0

### 7) 거듭제곱

In [11]:
2**4

16

### 8) 연산자 결합법칙

In [19]:
(2**2)**3

64

In [20]:
2**(2**3)

256

In [21]:
2**2**3

256

### 9) 연산자 우선순위

1. 괄호 ()
2. 거듭제곱 **
3. 곱셈 *, 나눗셈 /, 몫 //, 나머지 %
4. 덧셈 +, 뺄셈 -

In [23]:
15/2+21%4-2**3

0.5

## 4. 변수

### 1) 변수란?

- 변수(Variable) : 값(Value)을 참조하는 이름
- 변수에 값을 할당(assign)

### 2) 변수 할당

- 변수명 = 변수에 저장할 값

In [27]:
a = 20

In [28]:
id(a)

4344747968

In [29]:
b = a

In [30]:
id(b)

4344747968

In [55]:
number

5

In [56]:
number = 5

In [57]:
number1, number2 = 511

TypeError: 'int' object is not iterable

In [58]:
number1, number2 = 6, 9

In [59]:
number1, number2 = 2, 4, 5

ValueError: too many values to unpack (expected 2)

In [60]:
number

5

In [61]:
number1

6

In [62]:
number2

9

### 3) 변수명 규칙

- 변수의 이름은 문자, 숫자 그리고 Underscore(_)로만 이루어진다.
- 변수명은 문자 또는 Underscore로만 시작해야 한다. 즉 숫자로 시작 하면 안된다.
- 파이썬에서는 대문자와 소문자를 구분한다.
- 파이썬 지정단어 (Keyword, Reserved word)들은 변수명으로 사용할 수 없다.

In [63]:
money$ = 5

SyntaxError: invalid syntax (<ipython-input-63-2be6f776a93c>, line 1)

In [64]:
7up = 7

SyntaxError: invalid syntax (<ipython-input-64-83820ecc51a9>, line 1)

In [67]:
hour = 3
Hour

NameError: name 'Hour' is not defined

In [68]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## 5. 복합 대입 연산자

- a += 1
- a -= 1
- a *= 1
- a /= 1
- a // = 1
- a %= 1
- a **= 1

## [연습문제]

### 1) a,b에 각각 5,7 을 할당하고 곱셈을 한 값을 변수 result에 저장하여 출력하는 프로그램을 작성하라.

### 2) 다음 식의 몫과 나머지를 각각 다른 변수 portion, the_rest에 저장 시키는 프로그램을 작성하라.

 123456 ÷ 789

### 3) x,y에 각각 11,22를 할당하고, 그 후 숫자를 직접 이용하지 않고 다른 변수 z를 이용하여 두 수를 교환하는 프로그램을 작성하라.

### 4) 반지름(r)이 7인 원의 넓이(area)를 제곱을 이용하여 구하는 프로그램을 작성하라 (π=2.14)

### 5) number1, number2, number3, number4에 각각 5,4,9,2를 할당하여 아래의 식을 계산하는 프로그램을 작성하라.

 (number1*number2)(number2-number3)(number3//number4)