# Unit 4. 데이터 구조(Data Structure)

## 2. 튜플(tuple)

### 1) 튜플 선언

- 튜플명 = (요소1, 요소2, 요소3, ...)
- 튜플을 만들 때는 위에서 보는 것과 같이 소괄호(())로 감싸 주고 각 요소값들은 쉼표(,)로 구분
- 튜플 안에는 어떠한 자료형도 포함시킬 수 있다.

In [5]:
t1=()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
t5=('a',1,'b',('ab','cd'))

- 비어 있는 튜플은 t1 = tuple()로 생성할 수도 있다.
- t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다.
- t4 = 1, 2, 3처럼 괄호()를 생략해도 무방하다.

In [4]:
t=(1,)
type(t)

tuple

tuple() : string형과 list형 기반의 tuple 생성

In [7]:
s1='March'
t1=tuple(s1)
t1

('M', 'a', 'r', 'c', 'h')

In [8]:
l1=['March','April','May']
t1=tuple(l1)
t1

('March', 'April', 'May')

### 2) 튜플과 리스트의 차이점

#### Immutable한 자료형
- 원소 삽입, 삭제, 교체, 수정 불가능

In [12]:
t1=(1, 2, 'a', 'b' )
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [13]:
t1[0]='c'

TypeError: 'tuple' object does not support item assignment

### 3) 튜플과 리스트의 공통점

#### 튜플 병합

In [14]:
t1=(1,2,'a','b')
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

#### 튜플 반복

In [15]:
t2*3

(3, 4, 3, 4, 3, 4)

#### 튜플 인덱싱

In [18]:
t1[3]

'b'

#### 튜플 슬라이싱

In [21]:
t1[1:]

(2, 'a', 'b')

#### 튜플 관련 함수들

In [4]:
t1=(0,1,2,3,4,5,6,7,8,9)
print(len(t1))

print(max(t1))
print(min(t1))
print(sum(t1))

10
9
0
45